.row-component {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--spacing);

  & > *:not(:last-child) {
    margin-right: var(--spacing);
  }

  .button-component {
    align-self: flex-end;
  }
}